<ion-header>
  <ion-toolbar>
    <ion-title>Ricerca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card (click)="goToOutfit()">
    <img src="/assets/search/outfit.jpg"/>
    <div class="card-title">Outfit</div>
    <div class="card-subtitle">Consulta i tuoi outfit</div>
  </ion-card>
  <ion-card (click)="goToClothes()">
    <img src="/assets/search/dresses.jpg"/>
    <div class="card-title">Vestiti</div>
    <div class="card-subtitle">Arricchisci i tuoi vestiti</div>
  </ion-card>
  <ion-card (click)="goToShoes()">
    <img src="/assets/search/shoes.jpg"/>
    <div class="card-title">Scarpe</div>
    <div class="card-subtitle">Visualizza le tue scarpe</div>
  </ion-card>
  <ion-card (click)="goToAccessories()">
    <img src="/assets/search/accessories.jpg"/>
    <div class="card-title">Accessori</div>
    <div class="card-subtitle">Ecco tutti i tuoi accessori</div>
  </ion-card>
</ion-content>
