ion-title {
  height: 100%;
  margin-right: 1px;
  position: absolute;
  padding-left: 15vw;
}

.avatar {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  max-width: none;
}

.flex { display: flex;}
